USE [master]
GO
/****** Object:  Database [Louder]    Script Date: 04/19/2018 14:07:59 ******/
CREATE DATABASE [Louder] ON  PRIMARY 
( NAME = N'Louder', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Louder.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Louder_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Louder_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Louder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Louder]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 04/19/2018 14:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Themes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Themes] ON
INSERT [dbo].[Themes] ([Id], [Name]) VALUES (1, N'Động vật')
INSERT [dbo].[Themes] ([Id], [Name]) VALUES (2, N'Rau củ')
SET IDENTITY_INSERT [dbo].[Themes] OFF
/****** Object:  Table [dbo].[PlayHistories]    Script Date: 04/19/2018 14:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PlayHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/19/2018 14:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vocabularies]    Script Date: 04/19/2018 14:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vocabularies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnglishWord] [nvarchar](max) NULL,
	[Definition] [nvarchar](max) NULL,
	[Pronunciation] [nvarchar](max) NULL,
	[Spelling] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsLearned] [bit] NOT NULL,
	[Theme_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Vocabularies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Theme_Id] ON [dbo].[Vocabularies] 
(
	[Theme_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vocabularies] ON
INSERT [dbo].[Vocabularies] ([Id], [EnglishWord], [Definition], [Pronunciation], [Spelling], [Image], [IsLearned], [Theme_Id]) VALUES (3, N'cat', N'con mèo', N'/Audios/Vocabulary Pronunciations/cat.mp3', N'/kæt/', N'/Images/Word/cat.jpg', 0, 1)
INSERT [dbo].[Vocabularies] ([Id], [EnglishWord], [Definition], [Pronunciation], [Spelling], [Image], [IsLearned], [Theme_Id]) VALUES (4, N'cow', N'con bò', N'/Audios/Vocabulary Pronunciations/cow.mp3', N'/kaʊ/', N'/Images/Word/cow.jpg', 0, 1)
INSERT [dbo].[Vocabularies] ([Id], [EnglishWord], [Definition], [Pronunciation], [Spelling], [Image], [IsLearned], [Theme_Id]) VALUES (5, N'dog', N'con chó', N'/Audios/Vocabulary Pronunciations/dog.mp3', N'/dɑːɡ/', N'/Images/Word/dog.png', 0, 1)
SET IDENTITY_INSERT [dbo].[Vocabularies] OFF
/****** Object:  ForeignKey [FK_dbo.Vocabularies_dbo.Themes_Theme_Id]    Script Date: 04/19/2018 14:07:59 ******/
ALTER TABLE [dbo].[Vocabularies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vocabularies_dbo.Themes_Theme_Id] FOREIGN KEY([Theme_Id])
REFERENCES [dbo].[Themes] ([Id])
GO
ALTER TABLE [dbo].[Vocabularies] CHECK CONSTRAINT [FK_dbo.Vocabularies_dbo.Themes_Theme_Id]
GO
