USE [master]
GO
/****** Object:  Database [Louder]    Script Date: 05/07/2018 20:59:05 ******/
CREATE DATABASE [Louder] ON  PRIMARY 
( NAME = N'Louder', FILENAME = N'D:\Software Engineering\Final Project\Source\Database\Louder.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Louder_log', FILENAME = N'D:\Software Engineering\Final Project\Source\Database\Louder_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Louder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Louder]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/07/2018 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/07/2018 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (1, N'admin', N'12345')
INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (2, N'nhan', N'12341234')
INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (3, N'linh', N'12341234')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Themes]    Script Date: 05/07/2018 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Themes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Themes] ON
INSERT [dbo].[Themes] ([Id], [Name], [ImageUrl]) VALUES (1, N'Động vật', N'/Images/Theme/dongvat.png')
INSERT [dbo].[Themes] ([Id], [Name], [ImageUrl]) VALUES (2, N'Rau củ', N'/Images/Theme/raucu.png')
INSERT [dbo].[Themes] ([Id], [Name], [ImageUrl]) VALUES (3, N'Nghề nghiệp', N'/Images/Theme/nghenghiep.png')
SET IDENTITY_INSERT [dbo].[Themes] OFF
/****** Object:  Table [dbo].[Sets]    Script Date: 05/07/2018 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsCreatedByTheme] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[ThemeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ThemeId] ON [dbo].[Sets] 
(
	[ThemeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Sets] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sets] ON
INSERT [dbo].[Sets] ([Id], [IsCreatedByTheme], [UserId], [ThemeId]) VALUES (44, 1, 1, 3)
INSERT [dbo].[Sets] ([Id], [IsCreatedByTheme], [UserId], [ThemeId]) VALUES (57, 1, 2, 3)
INSERT [dbo].[Sets] ([Id], [IsCreatedByTheme], [UserId], [ThemeId]) VALUES (58, 1, 2, 3)
SET IDENTITY_INSERT [dbo].[Sets] OFF
/****** Object:  Table [dbo].[Vocabularies]    Script Date: 05/07/2018 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vocabularies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnglishWord] [nvarchar](max) NULL,
	[Definition] [nvarchar](max) NULL,
	[Pronunciation] [nvarchar](max) NULL,
	[Spelling] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsLearned] [bit] NOT NULL,
	[Theme_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Vocabularies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Theme_Id] ON [dbo].[Vocabularies] 
(
	[Theme_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vocabularies] ON
INSERT [dbo].[Vocabularies] ([Id], [EnglishWord], [Definition], [Pronunciation], [Spelling], [Image], [IsLearned], [Theme_Id]) VALUES (3, N'cat', N'con mèo', N'/Audios/Vocabulary Pronunciations/cat.mp3', N'/kæt/', N'/Images/Word/cat.jpg', 1, 1)
INSERT [dbo].[Vocabularies] ([Id], [EnglishWord], [Definition], [Pronunciation], [Spelling], [Image], [IsLearned], [Theme_Id]) VALUES (4, N'cow', N'con bò', N'/Audios/Vocabulary Pronunciations/cow.mp3', N'/kaʊ/', N'/Images/Word/cow.jpg', 1, 1)
INSERT [dbo].[Vocabularies] ([Id], [EnglishWord], [Definition], [Pronunciation], [Spelling], [Image], [IsLearned], [Theme_Id]) VALUES (5, N'dog', N'con chó', N'/Audios/Vocabulary Pronunciations/dog.mp3', N'/dɑːɡ/', N'/Images/Word/dog.png', 1, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Vocabularies] OFF
/****** Object:  Table [dbo].[WordSets]    Script Date: 05/07/2018 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordSets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SetId] [int] NOT NULL,
	[WordId] [int] NOT NULL,
	[Star] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WordSets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SetId] ON [dbo].[WordSets] 
(
	[SetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WordId] ON [dbo].[WordSets] 
(
	[WordId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WordSets] ON
INSERT [dbo].[WordSets] ([Id], [SetId], [WordId], [Star]) VALUES (56, 44, 36, 0)
INSERT [dbo].[WordSets] ([Id], [SetId], [WordId], [Star]) VALUES (57, 44, 39, 0)
INSERT [dbo].[WordSets] ([Id], [SetId], [WordId], [Star]) VALUES (58, 44, 44, 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[WordSets] OFF
/****** Object:  Default [DF__Sets__IsCreatedB__03317E3D]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[Sets] ADD  DEFAULT ((0)) FOR [IsCreatedByTheme]
GO
/****** Object:  Default [DF__Sets__ThemeId__0425A276]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[Sets] ADD  DEFAULT ((0)) FOR [ThemeId]
GO
/****** Object:  Default [DF__WordSets__Star__0CBAE877]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[WordSets] ADD  DEFAULT ((0)) FOR [Star]
GO
/****** Object:  ForeignKey [FK_dbo.Sets_dbo.Themes_ThemeId]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[Sets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sets_dbo.Themes_ThemeId] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Themes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sets] CHECK CONSTRAINT [FK_dbo.Sets_dbo.Themes_ThemeId]
GO
/****** Object:  ForeignKey [FK_dbo.Sets_dbo.Users_UserId]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[Sets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sets_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sets] CHECK CONSTRAINT [FK_dbo.Sets_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Vocabularies_dbo.Themes_Theme_Id]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[Vocabularies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vocabularies_dbo.Themes_Theme_Id] FOREIGN KEY([Theme_Id])
REFERENCES [dbo].[Themes] ([Id])
GO
ALTER TABLE [dbo].[Vocabularies] CHECK CONSTRAINT [FK_dbo.Vocabularies_dbo.Themes_Theme_Id]
GO
/****** Object:  ForeignKey [FK_dbo.WordSets_dbo.Sets_SetId]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[WordSets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WordSets_dbo.Sets_SetId] FOREIGN KEY([SetId])
REFERENCES [dbo].[Sets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WordSets] CHECK CONSTRAINT [FK_dbo.WordSets_dbo.Sets_SetId]
GO
/****** Object:  ForeignKey [FK_dbo.WordSets_dbo.Vocabularies_WordId]    Script Date: 05/07/2018 20:59:06 ******/
ALTER TABLE [dbo].[WordSets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WordSets_dbo.Vocabularies_WordId] FOREIGN KEY([WordId])
REFERENCES [dbo].[Vocabularies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WordSets] CHECK CONSTRAINT [FK_dbo.WordSets_dbo.Vocabularies_WordId]
GO
